<div class="modal fade" id="SuccessModal" role="dialog">
    <div id="modal" class="modal-dialog modal-sm">
        <div class="modal-content">
            <div id="modalbody" class="modal-body">
                <center>
                    
                    <h1 id="textModal">Success</h1>
                    <i class="fa fa-check fa-3x" aria-hidden="true"></i>
                    <div class="clearfix"></div>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Dismiss</button>
                </center>
            </div>
        </div>
    </div>
</div>